name: Update PR number
on: [pull_request]

jobs:
  update:
    name: Update description
    runs-on: ubuntu-latest
    steps:
      - uses: matyas-igor/pr-number-action@v1
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          pattern: "[#PR]"
